[Unit]
Description=prometheus-push-gateway
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStop=/usr/bin/docker kill prometheus-push-gateway
ExecStartPre=-/usr/bin/docker rm prometheus-push-gateway
ExecStartPre=-/usr/bin/docker network create stats-net
ExecStart=/usr/bin/docker run --rm --name prometheus-push-gateway \
    --network=stats-net \
    prom/pushgateway

[Install]
WantedBy=default.target
