[Unit]
Description=cadvisor
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStop=/usr/bin/docker kill cadvisor
ExecStartPre=-/usr/bin/docker rm cadvisor
ExecStartPre=-/usr/bin/docker network create stats-net
ExecStart=/usr/bin/docker run \
    --volume=/:/rootfs:ro \
    --volume=/var/run:/var/run:ro \
    --volume=/sys:/sys:ro \
    --volume=/var/lib/docker/:/var/lib/docker:ro \
    --volume=/dev/disk/:/dev/disk:ro \
    --net="stats-net" \
    --name=cadvisor \
    --privileged \
    --device=/dev/kmsg \
    budry/cadvisor-arm

[Install]
WantedBy=default.target
